.user-info-section{
    width: 320px;
    max-width: 320px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.4em 1em;
    .current-user-avatar{
        width: 67px;
        height: 67px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:5px;
        padding: 6px;

        h2{
            font-size: 1.2em;
            display: flex;
            text-transform: capitalize;
        }
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 1.1em;
            padding: 6px;

            li {
               
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                button{
                    width: 33px;
                    height: 33px;
                    background-color: rgba(255, 255, 255, 0.093);
                    color: rgb(195, 195, 195);
                }
                svg{
                    font-size: 18px;
                }
            }
        }
    }
}