.sidbar-section {
    position: relative;
    min-width: 320px;
    max-width: 320px;
    height: 100%;
    background-color: #161616;

    .sidbar-btn{
        position: absolute;
        bottom: 6%;
        right: 6%;
        width: 44px;
        height: 44px;
        background-color: #4444447b;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.06);
        cursor: pointer;
        transition: transform 150ms ease-in-out;
        abbr{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        &:hover{
            transform: scale(1.05);
            
        }

        svg{
            color: rgb(236, 237, 237);
            font-size: 1.2em;
        }
    }
}